<div class="row">
  <div class="col-xs-4">
    <h1>Categories</h1>
    <div class="list-group">
      <% @categories.each do |category| %>
        <%= link_to category[1], category_products_path(URI::encode(category[1])), class: "list-group-item" %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-8">
    <h1 align="center">All Products</h1>
    <div>
        <% @products.each do |product| %>
          <% category_id =  %>
          <%= link_to product[1], category_product_path(category_id: URI::encode(product[5]), id: product[0]), class: "product_title" %>
          <%= image_tag(product[3]) %>
          <p><%= product[2] %></p>
          <p> Price: $ <%= product[4] %>  </p>
        <% end %>
      </div>
  </div>
   </div>