<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2>Order Details</h2>
      <table class="table order-details">
        <tbody>
          <tr>
            <td class="order-label">Order Price: </td>
            <td><%= @order.subtotal %></td>
          </tr>
          <tr>
            <td class="order-label">Shipping: </td>
            <td><%= @order.shipping_cost %></td>
          </tr>
          <tr>
            <td class="order-label">Total</td>
            <td><%= @order.total %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2>Payment Information</h2>
      <% if @card_info %>
        <table class="table order-details">
          <tbody>
            <tr>
              <td class="order-label">Card Number: </td>
              <td><%= @card_info.card_num %></td>
            </tr>
            <tr>
              <td class="order-label">Expiration Date</td>
              <td><%= @card_info.expiration_date %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <%= link_to "Add card details", user_path(current_user) %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Shipping Address</h3>
    <hr>
  </div>
  <div class="col-md-4">
    <form action="/cart/confirm" class="shipping-information" method="post">
      <div class="form-group">
        <label for="address-line-1">Address Line 1</label>
        <input type="text" class="form-control" id="address-line-1" name="address1">
      </div>
      <div class="form-group">
        <label for="address-line-2">Address Line 2</label>
        <input type="text" class="form-control" id="address-line-2" name="address2">
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city">
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <%= select_tag :state, options_for_select(address_states), class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="zipcode">Zipcode</label>
        <input type="text" class="form-control" id="zipcode" name="zipcode">
      </div>
      <input type="submit" name="commit" value="Place Order" class="btn btn-primary">
    </form>
  </div>
</div>