<div class="row">
  <div class="col-xs-4">
    <h1>Categories</h1>
    <div class="list-group">
      <% @categories.each do |category| %>
        <% if (URI::encode(category[1]) == params[:category_id]) %>
          <%= link_to category[1], category_products_path(URI::encode(category[1])), class: "list-group-item active" %>
        <% else %>
          <%= link_to category[1], category_products_path(URI::encode(category[1])), class: "list-group-item" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-8">
      <h1 align="center"><%= "#{URI::decode(params[:category_id])} Products" %></h1>
    <div>
      <div>
        <% @products.each do |product| %>
        <%= link_to product[0], category_product_path(id: product[4]), class: "product_title" %>
          <%= image_tag(product[2]) %>
          <p><%= product[1] %></p>
          <p> Price: $ <%= product[3] %>  </p>
        <% end %>
      </div>
    </div>
  </div>
</div>