<h1 class="product-header"><%= @product[0]["name"] %></h1>
<div class="row">
  <div class="col-xs-3">
    <%= image_tag(@product[0]["image"], class: "product_image") %>
  </div>
  <div class="col-xs-9">
    <div>
      <h2>Description</h2>
      <p><%= @product[0]["description"] %></p>
    </div>
    <%= form_for @order_detail do |f| %>
      <h4>Price: <span style="color: green"><%= number_to_currency @product[0]["price"] %></span></h4>
      <div class="input-group">
        <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
        <div class="input-group-btn">
          <%= f.hidden_field :product_id, value: params[:id] %>
          <%= f.submit "Add to Cart", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
</div>
<div class="reviews row">
  <div class="col-xs-12">
    <h3>Product Reviews (0)</h2>
  </div>
  <div class="review-form col-xs-8">
    <form>
      <textarea class="form-control" rows="3" ></textarea>
      <button type="submit" class="btn btn-info" >Submit</button>
    </form>
  </div>
</div>